#loginModal.reveal-modal(data-reveal='', aria-labelledby='loginFormTitle', aria-hidden='true', role='dialog')
  div#loginInformation
    h3#loginFormTitle Aaron inloggning
    p
      | Inloggning till system som Proxive, ScourDox och Artikelskördaren
    p
      | Inloggningsuppgifterna här är separata ifrån din organisations-/landstingsinloggning.
  form
    .row.medium-uncollapse.small-collapse.forgot.login
      .large-3.medium-5.columns.show-for-medium-up
        label.right.inline(for='login-email') E-postadress
      .large-9.medium-7.small-12.columns
        label.hide-for-medium-up(for='login-email') E-postadress
        input#login-email(type='text', placeholder='E-postadress')
    .row.medium-uncollapse.small-collapse.login
      .large-3.medium-5.columns.show-for-medium-up
        label.right.inline(for='login-password') Lösenord
      .large-9.medium-7.small-12.columns
        label.hide-for-medium-up(for='login-password') Lösenord
        input#login-password(type='password', placeholder='Lösenord')
    .row.medium-uncollapse.small-collapse.signup
      .large-3.medium-5.columns.show-for-medium-up
        label.right.inline(for='signup-organization') Organisation
      .large-9.medium-7.small-12.columns
        label.hide-for-medium-up(for='signup-organization') Organisation
        select#signup-organization
    .row.medium-uncollapse.small-collapse.signup
      .large-3.medium-5.columns.show-for-medium-up
        label.right.inline(for='signup-firstname') Förnamn
      .large-9.medium-7.small-12.columns
        label.hide-for-medium-up(for='signup-firstname') Förnamn
        input#signup-firstname(type='text', placeholder='Förnamn')
    .row.medium-uncollapse.small-collapse.signup
      .large-3.medium-5.columns.show-for-medium-up
        label.right.inline(for='signup-lastname') Efternamn
      .large-9.medium-7.small-12.columns
        label.hide-for-medium-up(for='signup-lastname') Efternamn
        input#signup-lastname(type='text', placeholder='Efternamn')
    .row.medium-uncollapse.small-collapse.signup
      .large-3.medium-5.columns.show-for-medium-up
        label.right.inline(for='signup-workplace') Arbetsplats
      .large-9.medium-7.small-12.columns
        label.hide-for-medium-up(for='signup-workplace') Arbetsplats
        input#signup-workplace(type='text', placeholder='Arbetsplats')
    .row.medium-uncollapse.small-collapse.signup
      .large-3.medium-5.columns.show-for-medium-up
        label.right.inline(for='signup-email') Din jobbmail
      .large-9.medium-7.small-12.columns
        label.hide-for-medium-up(for='signup-email') Din jobbmail
        input#signup-email(type='text', placeholder='Din jobbmail')
    .row.medium-uncollapse.small-collapse.loading
      h4 Laddar...
    .row.medium-uncollapse.small-collapse.recovery-sent
      h4 Återställningsmeddelande skickat!
      div Ett lösenordsåterställningsmeddelande har skickats till den specifierade e-postadressen!
    .row.medium-uncollapse.small-collapse.signup
      .large-3.medium-5.columns.show-for-medium-up
        label.right.inline(for='signup-private-email') Privat e-postadress (valfritt)
      .large-9.medium-7.small-12.columns
        label.hide-for-medium-up(for='signup-private-email') Privat e-postadress (valfritt)
        input#signup-private-email(type='text', placeholder='Privat e-postadress (valfritt)')
    .row.medium-uncollapse.small-collapse.signup
      .large-3.medium-5.columns.show-for-medium-up
        label.right.inline(for='signup-password') Lösenord
      .large-9.medium-7.small-12.columns
        label.hide-for-medium-up(for='signup-password') Lösenord
        input#signup-password(type='password', placeholder='Lösenord')
    .row.medium-uncollapse.small-collapse.signup
      .large-3.medium-5.columns.show-for-medium-up
        label.right.inline(for='signup-validate-password') Verifiera lösenord
      .large-9.medium-7.small-12.columns
        label.hide-for-medium-up(for='signup-validate-password') Verifiera lösenord
        input#signup-validate-password(type='password', placeholder='Verifiera lösenord')
    .row.medium-uncollapse.small-collapse
      .small-12.columns.text-right
        button#login-button.button.success.login(type='button') Logga in
        button#signup-button.button.success.signup(type='button') Skicka ansökan
        button#login-new.button.info.login(type='button') Ansök om konto
        button#login-forgot.button.secondary.login(type='button') Glömt lösenordet?
        button#login-forgot-send.button.success.forgot(type='button') Skicka återställningsmail
        button#login-return.button.warning.close(type='button') Tillbaka till inloggningen