#organizationModal.reveal-modal(data-reveal='', aria-labelledby='organizationFormTitle', aria-hidden='true', role='dialog')
  h3#organizationFormTitle Aaron inloggning
  form
    .row.medium-uncollapse.small-collapse.signup.login
      .large-3.medium-5.columns.show-for-medium-up
        label.right.inline(for='login-organization') Organisation
      .large-9.medium-7.small-12.columns
        label.hide-for-medium-up(for='login-organization') Organisation
        select#login-organization